<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.emoflon.ibex.tgg.ide.IbexTGGBuilderExtension">
      <builder_extension
            build_before_all="false"
            class="org.emoflon.ibex.tgg.compiler.viatra.defaults.IbexViatraBuilderExtension">
      </builder_extension>
   </extension>
   <extension
         point="org.emoflon.ibex.tgg.ide.IbexTGGNatureExtension">
      <nature_extension
            class="org.emoflon.ibex.tgg.compiler.viatra.defaults.IbexViatraNatureExtension">
      </nature_extension>
   </extension>

</plugin>
