<?xml version="1.0" encoding="UTF-8"?><?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.viatra.query.patternlanguage.emf.purewhitelist">
    <whitelist-extension provider="testing.TestPureFunctionWhitelistProvider"/>
  </extension>
  <extension id="ManuelStart" point="org.eclipse.core.runtime.applications">
    <application cardinality="singleton-global" thread="main" visible="true">
      <run class="testing.ViatraQueryEngineManuelStart"/>
    </application>
  </extension>
  <extension id="testing.GameQueries" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:testing.GameQueries" id="testing.GameQueries">
      <query-specification fqn="testing.findAllGames"/>
      <query-specification fqn="testing.findAllGames_test"/>
      <query-specification fqn="testing.findAllGames_noParameter"/>
      <query-specification fqn="testing.findCSGOGame"/>
      <query-specification fqn="testing.findCSGOGame2"/>
      <query-specification fqn="testing.find2GamesOfTheSameName2"/>
      <query-specification fqn="testing.find3GamesOfTheSameName2"/>
      <query-specification fqn="testing.findDLCs"/>
      <query-specification fqn="testing.findCosmetics"/>
      <query-specification fqn="testing.findDLCsAndCosmetics"/>
      <query-specification fqn="testing.findNoParameter"/>
      <query-specification fqn="testing.findGame"/>
    </group>
  </extension>
</plugin>
